<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  {% seo %}
  <link rel="stylesheet" href="{{ '/assets/dist-style.css' | relative_url }}">
  <script type="text/javascript" src="/assets/js/main.js" ></script>
  <!-- <script> -->
    <!-- if ( -->
      <!-- localStorage.getItem('color-theme') === 'dark' || -->
      <!-- (!('color-theme' in localStorage) && -->
        <!-- window.matchMedia('(prefers-color-scheme: dark)').matches) -->
    <!-- ) { -->
      <!-- document.documentElement.classList.add('dark'); -->
    <!-- } else { -->
      <!-- document.documentElement.classList.remove('dark'); -->
    <!-- } -->
  <!-- </script> -->

  {%- include custom_head.html -%}
</head>
