@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'playfair';
  src: url('/assets/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf') format('woff2');
}

@layer base {
  html {
    font-family: playfair, system-ui, sans-serif;
  }
}
