@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'playfair';
  src: url('/assets/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf') format('woff2');
}

@layer base {
  html {
    font-family: playfair, system-ui, sans-serif;
  }
}
.fadeIn{
  animation: fadeIn 1s forwards;
}

.fadeOut{
  animation: fadeOut 1s forwards;
}

@keyframes fadeIn {
  from { opacity: 0 ;}
  to { opacity: 1;}
}

@keyframes fadeOut {
  from { opacity: 1;}
  to { opacity: 0;}
}

